@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



:root {
  --footer-bg: #eee4d5;
  --light-brown: #c39c6f;
  --light-blue: #cadff0;
  --hero-bg: #d8bb7f;  
  --deep-brown: #c39c6f;
  --title: 1.1rem;
  --black: #000000;
  --white: #ffffff;
  --blue: #005f9a;
  --grey: #CADFF0;
  --pink: #EC407A;
  --orange: #FF9658;

}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: var(--footer-bg) */
}

/*! Navbar Styling */
header#navbar{
  background: var(--footer-bg);
  position: sticky;
  top: 0;
  z-index: 99;
}

header#navbar ul{
  padding:0.8rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

header#navbar ul li {
  list-style-type: none;
  font-weight: bold;
  font-size: var(--title)
}

header#navbar ul a{
  color: var(--black);
  text-decoration: none;
}



.icon{
  cursor: pointer;
}

.icon.social{
  margin: 0 1rem;
}

.icon.shoppingBag{
  color: black;
  background: transparent;
  font-size: 1.1rem;
}

header#navbar section div.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

header#navbar section div.content p{
  font-size: 2.4rem;
}

header#navbar section div.content a{
  color: var(--deep-brown);
  text-decoration: none;
}

header#navbar section div.content p:hover{
  border-bottom: 1px solid var(--deep-brown);
  cursor: pointer;
  color: var(--deep-brown)
}
header#navbar section div.content p span.active{
  color: var(--deep-brown)
}

header#navbar section div.content p span.term{
  font-size: 1.2rem;
}

/*! Hero Styling */

section#hero{
  height: 94vh;
  background: var(--hero-bg)
}

section#hero div.hero-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


section#hero h1{
  text-align: center;
  font-size: 4rem;
  font-weight:150;
  font-family: 'Lora', serif;
}

section#hero h3{
  font-weight: 700;
  margin-bottom: 5rem;
  color: var(--black);
  font-size: 2rem;

}

section#hero button{
  border: 0.3rem solid black;
  background: var(--hero-bg);
  width: 13rem;
  padding: 0.3rem 0.1rem;
}

section#hero button:hover{
  border: none;
  background: var(--deep-brown);
}

/*! Top Products */
section#topProducts{
  background: var(--footer-bg);
  padding: 1rem 1.2rem;
  height: 60vh;
}

section#topProducts .custom-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 85%;
  margin: 0 0.5rem;
}

section#topProducts .custom-card .image-item{
  width: 100%;
  height: 12rem;
  cursor: pointer;
}

section#topProducts .custom-card .image-item img:hover{
  transform: scale(1.07)
}

section#topProducts .custom-card .desc{
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0rem;
  z-index: 2;
}

/*! Footer Styling */
footer#footer{
  height: 65vh;
  background: var(--footer-bg);
  padding:1rem 0;
}

footer#footer .email{
  display: flex; 
  flex-direction: column;
  width: 85%;
  padding: 1rem 2rem;
}

footer#footer .mail p{
  font-size: 0.87rem;
}

footer#footer p{
  font-size: 0.87rem;
}

footer#footer h5{
  font-weight: bold;
  font-size: 0.96rem;
  text-decoration: underline;
  text-decoration-color: var(--deep-brown);
}

footer#footer h5:hover{
  color: var(--deep-brown);
  cursor: pointer;
}

footer#footer h4{
  font-weight: bold;
  font-size: 0.96rem;
}


footer#footer .mail .input-wrapper{
  border-bottom: 2px solid var(--black);
  width: 95%;
}

footer#footer .mail input{
  border: none;
  background: none;
}

footer#footer .mail input:focus{
  outline: none;
}

footer#footer .mail button{
  width: 6rem;
  font-weight: bold;
  color: var(--white);
  padding: .2rem .3rem;
  align-self: center;
}

footer#footer .mail button.not-allowed{
  background:#555;
  cursor: not-allowed;
  border: none;
}

footer#footer .mail button.allowed{
  background: transparent;
  border: 0.3rem solid var(--black);
  cursor: pointer;
  color: var(--black)
}


footer#footer .p-option{
  font-size: 2rem;
  margin: 0 0.3rem 0 0;
  width: 2rem;
}

footer#footer .shipping{
  font-size: 3rem;
  font-weight: bold;
  width: 7rem;
  /* height: 7rem; */
}

footer#footer .social{
  font-size: 1.7rem;
}


/*! Products Screen Styles */
#productScreen{
  background: var(--footer-bg);
}

#productScreen .slider-container{
  position: relative;
}

#productScreen .next-arrow{
  position: absolute;
  top: 50%;
  right: -10%;
  cursor: pointer;
}

#productScreen .prev-arrow{
  position: absolute;
  top: 50%;
  left: -10%;
  cursor: pointer;
}

#productScreen .prev-arrow.hidden, #productScreen .next-arrow.hidden{
  display: none;
}

#productScreen .detail{
  display: flex;
  justify-content: space-evenly;
}

#productScreen .detail .price{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 1.3rem;
}

#productScreen p{
  font-size: 0.87rem;
}

#productScreen h4{
  font-weight: bold;
  font-size: 1.7rem;
  color: var(--black)
}

#productScreen .title h4{
  font-size: 1.5rem;
}

#productScreen section.contain{
  width: 70%;
  margin: 0 auto;
}

#productScreen section.contain select{
  display: inline-block;
  border: 0.2rem solid black;
  background: var(--footer-bg);
  width: 104%;
  padding: 0.5rem 0.4rem;
}


#productScreen section.contain select:hover{
  cursor: pointer;
  background: var(--hero-bg)
}

#productScreen  section.contain button{
  background: var(--black);
  width: 104%;
  padding: 0.5rem 0.4rem;
  color: var(--white);
  border: none;
}

#productScreen  section.contain button:hover{
  background: var(--hero-bg);
  color: var(--black)
}

#productScreen  section.contain div.available{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: green
}

#productScreen  section.contain div.delivery{
  font-weight: bold;
  font-size: 0.87rem;
}

div#card-img{
  display: flex;
  flex-direction: row;
  padding: 0 ;
}

#card-img .img-card{
  flex: 1;
  margin: 0;
}

#productScreen .p-option{
  font-size: 2.5rem;
  margin: 0 0.7rem 0 0;
  width: 3rem;
}

#productScreen .toggle{
  cursor: pointer;
}

#productScreen h4{
  font-weight: bold;
  font-size: 0.96rem;
}

#productScreen .line{
  color: var(--deep-brown);
  background: var(--deep-brown);
  height: 0.1rem;
}


/*! Review styles */
#review {
  background: var(--blue);
  height: 70vh;
  color: var(--grey)
}

#review .author{
  display: flex;
}



#review .author div.pseudo p{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--pink);
  color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#review .author div.stars{
  display: flex;
  flex-direction: column;
}

#review .author div.stars p{
  font-size: 0.87rem;
}

#review .next, .prev{
  cursor: pointer;
}

/*! Features styles */
#features{
  background: var(--light-blue);
  height: 35vh;
}

#features .item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  height: 80%;
}

#features .item h4{
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

#features .item p{
  font-size: 0.9rem;
  text-align: center;
}

/*! Recommendation styles */

#recomended{
  background: var(--footer-bg);
  display: flex;
  height: 60vh;
  padding: 2rem 1rem;
}

#recomended h5,h2{
  color: var(--blue)
}

#recomended h5{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

#recomended img{
  cursor: pointer;
}



#recomended img:hover{
  transform:scale(1.04)
}

/*! Image Grid */
#imageGrid {
  height: 145vh;
  background: var(--light-blue)
}
#imageGrid .row{
  height: 50%;
  margin-bottom: 0rem;
}

#imageGrid .row .item{
  flex: 1;
  margin: 0;
}

#imageGrid .row .item img.img-fluid{
  max-width: 105%;
  height: auto;
}

#imageGrid .row .item.desc{
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

#imageGrid .row .item.desc.calendar{
  background: var(--orange)
}

#imageGrid .row .item h1{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

#imageGrid .row .item p{
  font-size: 1rem;
}

#imageGrid .row .item button{
  border-radius: 0;
  cursor: pointer;
  width: 15rem;
  align-self: center;
  color: var(--black);
  background: transparent;
  border: 0.25rem solid var(--black);
}

#imageGrid .row .item button:hover{
  background: var(--deep-brown);
  border: none;
}

/* ! Sponsors styles */
#sponsors{
  background: var(--footer-bg);
  height: 30vh;
  color: var(--deep-brown)
}

#sponsors h1.text-center.text-black{
  font-size: 1.5rem;
}

/* ! Newsletter style */
#newsletter{
  background: var(--footer-bg);
  height: 50vh;
}

#newsletter .letter{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#newsletter .letter .baloon{
  background: var(--white);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

#newsletter .letter .img-wrapper{
  width: 6rem;
  height: 5rem;
}

#newsletter .letter p{
  font-size: 1.2rem;
  font-weight: 500;
}


#newsletter .letter .input-wrapper{
  border-bottom: 2px solid var(--black);
  width: 60%;
  display: flex;
  justify-content:space-between;
}

#newsletter .letter input{
  border: none;
  background: none;
}

#newsletter .letter input:focus, #newsletter .letter input:focus-visible{
  outline: none;
}

#newsletter .letter button{
  padding: .2rem .3rem;
  font-weight: bold;
  width: 7rem;
  color: var(--white);
}

#newsletter .letter button.not-allowed{
  background:#555;
  cursor: not-allowed;
  border: none;
}

#newsletter .letter button.allowed{
  background: transparent;
  border: 0.3rem solid var(--black);
  cursor: pointer;
  color: var(--black)
}

#newsletter .letter button.allowed:hover{

}

/* ! checkout stlyes */
#checkout{
  background: var(--footer-bg)
}

#checkout .contain{
  width: 90%;
  margin: 1rem auto;
}

#checkout .contain h1{
  font-size: 1.5rem;
  color: var(--deep-brown);
  margin: 1rem 0 3rem 1rem;
}

#checkout .contain h2, #checkout section.wrap h2{
  color: var(--black);
  font-size: 1.5rem;
}

#checkout .contain h3{
  color: var(--black);
  font-size: 1.1rem;
}

#checkout .contain input.form-control{
  background: transparent;
  border: 2px solid var(--deep-brown)
}

#checkout .contain input.form-control:focus, #checkout .contain input.form-control:focus-visible{
  outline: none
}

#checkout .contain label.form-check-label{
  font-weight: bold;
}

#checkout .contain .actions{
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}

#checkout .contain .actions a{
  color: var(--deep-brown);
  font-size: 1.05rem;
  text-decoration: none;
}

#checkout .contain .actions a:hover{
  text-decoration: underline;
  text-decoration-color: var(--deep-brown);
}

#checkout .contain .actions button{
  background: var(--black);
  color: var(--white);
  border: none;
  padding: 0.5rem  0.2rem;
  width: 8rem;
  font-size: 1.1rem;
}

#checkout .contain .actions button:hover{
  background: var(--deep-brown);
  color: var(--black);
}

#checkout .contain .line{
  height: 0.1rem;
  background: var(--deep-brown);
}

#checkout .contain .mini-footer span{
  color: var(--deep-brown);
  cursor: pointer;
}

#checkout .contain .mini-footer span:hover{
  text-decoration: underline;
  text-decoration-color: var(--deep-brown);
}

#checkout  section.wrap{
  width: 90%;
}


/* #checkout  section.wrap .location .line{
  height: 2px ;
  background: var(--black);
} */


/* #checkout  section.wrap .location{
  /* background: red;
  height: 5rem;
  position: relative; */
/* } */ 


#checkout  section.wrap .location .item{
  text-align: center;
}

#checkout  section.wrap .location .item.allow{
  color: var(--deep-brown);
}

#checkout  section.wrap .location .item.active{
  color: var(--black);
}

#checkout  section.wrap .location .item.disallow{
  color: rgb(104, 97, 97);
}


#checkout  section.wrap .location .line .item-wrapper{
  display: flex;
  justify-content:space-between;
}

#checkout  section.wrap .location .item .circle{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid var(--deep-brown);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}

#checkout  section.wrap .location .item .circle.disallow{
  border: 1px solid rgb(104, 97, 97);
  cursor: not-allowed;
}

#checkout  section.wrap .location .item .circle.active{
  border: 1px solid var(--black);
}

/* #checkout  section.wrap .location .item .circle.disal */

#checkout  section.wrap .description{
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}

#checkout  section.wrap h4, p{
  font-size: 1rem;
}
#checkout  section.wrap h4{
  font-weight: bold;
}

#checkout  section.wrap .sum, #checkout  section.wrap .total{
  display: flex;
  justify-content:space-between;
  margin: 1rem 0rem;
  border-bottom: 1px solid var(--deep-brown);
}




